/* 
	? CSS - Cascading Style Sheets
	* language that defines style and positioning of HTML elements
	* ruleset - a set of rules for styling based on selected elements
	* selector - element we're going to style
	* declaration - all properties and values for that selector
	* property: value or key: value pairs

	? CSS can be used inside index.html
	* this is called inline styling
	* it will use style property
	* avoid it - messy

	? Class vs ID Attributes in HTML
	* id can be used only once (good for styling unique item)
	* class can be reused (good for styling multiple elements the same way)

	? Box Model
	* every element is a box inside of another box
	* has relationship of parent/child/sibling
	* each element has:
		* border - it
		* margin - space outside
		* padding - space inside
*/

/* 
	Selector {
		declaration
		property: value;
		property: value;
		key: value;
	}
*/

/* Wildcard Selector */
* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Element Selector */
header {
	background-color: #cd7042;
	padding: 1em;
}

/* ID Selector */
#btm {
	font-family: 'Courier New', Courier, monospace;
}

/* Class Selector */
.main-article {
	width: 500px;
	height: 100px;
	background-color: darkgrey;
}

/* 
	? Order of Specificity
	1. !important
	2. in-line style
	3. id selector
	4. class
	5. element
	6. wildcard
*/

footer {
	color: red;
}

.footer-class {
	color: blue;
}

#footer-id {
	color: salmon;
}

/* Compound selector */
body > div > p {
	color: gray;
}

.nav-links {
	color: black;
	text-decoration: none;
}

/* Pseudo Selectors (allow you to style for effect) */

.nav-links:hover {
	color: orangered;
	text-decoration: underline;
}

#logo {
	width: 250px;
	height: 125px;
}