/* 
	? CSS - Cascading Style Sheets
	* language that defines style and positioning of HTML elements
	* ruleset - a set of rules for styling based on selected elements
	* selector - element we're going to style
	* declaration - all properties and values for that selector
	* property: value or key: value pairs

	? CSS can be used inside index.html
	* this is called inline styling
	* it will use style property
	* avoid it - messy

	? Class vs ID Attributes in HTML
	* id can be used only once (good for styling unique item)
	* class can be reused (good for styling multiple elements the same way)

	? Box Model
	* every element is a box inside of another box
	* has relationship of parent/child/sibling
	* each element has:
		* border - it
		* margin - space outside
		* padding - space inside
*/

/* 
	Selector {
		declaration
		property: value;
		property: value;
		key: value;
	}
*/

/* Wildcard Selector */
* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Element Selector */
header {
	background-color: #cd7042;
	padding: 1em;
}

/* ID Selector */
#btm {
	font-family: 'Courier New', Courier, monospace;
}

/* Class Selector */
.main-article {
	width: 500px;
	height: 100px;
	background-color: darkgrey;
}

/* 
	? Order of Specificity
	1. !important
	2. in-line style
	3. id selector
	4. class
	5. element
	6. wildcard
*/

footer {
	color: red;
}

.footer-class {
	color: blue;
}

#footer-id {
	color: salmon;
}

/* Compound selector */
body > div > p {
	color: gray;
}

.nav-links {
	color: black;
	text-decoration: none;
}

/* Pseudo Selectors (allow you to style for effect) */

.nav-links:hover {
	color: orangered;
	text-decoration: underline;
}

#logo {
	width: 250px;
	height: 125px;
}

.parent-container {
    background-color: beige;
    border: 2px solid black;
    width: 75vw;
    height: 75vh;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
	margin: 25px;

    position: relative
    /* causes absolute container to position inside parent container */
}

.child {
    padding: 25px;
	border: 1px solid black;
}

/* 
	? CSS Position Property

	? Static
	* default
	* positioned in relation to elements
	* top, bottom, left, right, and z-index properties have NO EFFECT

	? Relative
	* just like static
	* can be changed using top, bottom, left, right, z-index
	* values are RELATIVE to its original static position

	? Absolute
	* removes the element from the flow
	* positions it relative to PARENT container
	* if parent is static, it will move OUTSIDE of the parent container
	* if parent is relative, it will move within the parent container
	* positioning defined by top, bottom, left, right, z-index
	! to mess around with it, comment/uncomment position:relative on parent-container
	
	? Fixed
	* like absolute
	* positioned to viewport
	* doesn't move when scrolling
	* positioning defined by top, bottom, left, right, z-index

	? Sticky
	* mix of relative and fixed
	* relative to the flow
	* position definition used for when you start scrolling
	* stays fixed when scrolling; relative when stationary

*/

.static {
	position: static;
	border: 2px solid red;
	background-color: red;
	top: 250px;
	left: 700px;
}

.relative {
	border: 2px solid blueviolet;
	background-color: blueviolet;
	/* position: relative; */
	top: 25px;
	left: 25px;
}

.absolute {
	border: 2px solid green;
	background-color: green;
	/* position: absolute; */
	top: 0;
}

.fixed {
	border: 2px solid teal;
	background-color: teal;

	/* position: fixed; */
	top: 0;
}

.sticky {
	border: 2px solid gray;
	background-color: gray;

	/* position: sticky; */
	top: 75px;
}

/* 
	? Display Property
	* treats an element as block or inline
	* blocks are created top-to-bottom
	* inline are positioned side-by-side
*/

.block-container {
	border: 2px solid black;
	margin-top: 2px;

	/* Initially a block */

	/* Become an inline element */
	/* display: inline; */
}

.inline-element {
	margin: 5px;
	
	/* Turns inline element into a block element */
	/* display: block; */
}

.inline-block {
	border: 2px solid black;
	margin-top: 2px;

	/* Initially a block */

	/* width doesn't do anything here */
	display: inline;
	width: 250px;

	display: inline-block;
}

/* 
	? Float
	* floats elements from left to right
*/

.float-container {
	width: 800px;
	height: 500px;
	border: 2px solid salmon;
}

.float-box {
	width: 50px;
	height: 50px;
	background-color: red;

	float: right;
}

.float-example p {
	direction: rtl;
}